#welcome{
	margin: auto;
	text-align: center;
	font-family: Futura, "Arial";
}

#TextLink{
	margin: auto;
	text-align: center;
	width: 50%;
	padding:10px;
}

#ImageLink{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding:10px;
}