
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-family: "Fraunces";
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-family: Futura, Arial, serif;
  color: #4D6017;
  text-shadow: 3px 3px 1px #ce9b1f
}

h2{
  font-family: Futura, Arial, serif;
  color: #4D6017;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding: 10px 0px 25px 0px;
  background-color: #EEBE8A;
  font-family: "Fraunces";
}

.logo{
  color: #4D6017;
  letter-spacing: 5px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #4D6017;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
}

#me{
  height: 100%;
  width: 100%;
}

.imgTextSection{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  background-color: #EEBE8A;
}

.aboutText{
  padding-left: 60px;
  padding-right: 60px;
}


