<html>
  <head>
    <title>Urban Outfitters Website Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>

  <body>

	<div class="container-fluid p-3 my-3 border bg-light text-black" id="survey">
    <h1>Survey</h1>

    <form margin="auto">
      <div class="q">
        1. What were your first impressions of this website's design?<br>
        <textarea rows="5", cols="100"></textarea><br>
      </div>
      <br>
      <div class="q">
        2. Which parts of the website design did you enjoy the most? Select up to 3 options.<br>
        <input type="checkbox" name="color" value="color">The color palette<br>
        <input type="checkbox" name="pictures" value="pictures">The pictures<br>
        <input type="checkbox" name="layout" value="layout">The layout<br>
        <input type="checkbox" name="font" value="font">The text font<br>
      </div>
      <br>
      <div class="q">
      3. Evaluate the following statement: This website is easy to use:<br>
        <input type="radio" name="ease_of_use" value="sdis">Strongly Disagree
        <input type="radio" name="ease_of_use" value="dis">Disagree
        <input type="radio" name="ease_of_use" value="no_op">No Opinion
        <input type="radio" name="ease_of_use" value="agr">Agree
        <input type="radio" name="ease_of_use" value="sagr">Strongly Agree <br>
      </div>
      <br>
      <div class="q">
        4. Would you recommend this website to a friend?<br>
        <input type="radio" name="recommend" value="yes">Yes<br>
        <input type="radio" name="recommend" value="no">No<br>
        <input type="radio" name="recommend" value="maybe">Maybe<br>
      </div>
      <br>
      <div class="q">
        5. Which browser are you using to access this website?<br>
        <select name="Browser">
          <option value="Safari" seleted="selected">Safari</option>
          <option value="Chrome">Google Chrome</option>
          <option value="IE">Internet Explorer</option>
          <option value="edge">Microsoft Edge</option>
          <option value="other">Other</option>
        </select>
      </div>
      <br>
      <div class="q">
        6. Please feel free to leave any comments below:<br>
        <textarea rows="5", cols="100"></textarea><br>
      </div>
      <br>
      <br>
      <div class="q">
        <button type="submit" class="btn btn-success" id="bb">Submit my answers</button>
      </div>

    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html>
