<html>
  <head>
    <title>Urban Outfitters Website Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  </head>

  <body>

	<div class="container-fluid p-3 my-3 border bg-light text-black" id="survey">
    <h1>Survey</h1>
    <br>
    <div id="TextLink">
      <p>Please begin with familiarizing yourself with the Urban Outfitters website.</p>

      <a href="https://www.urbanoutfitters.com/en-ca/"> View the Urban Outfitters page here </a>
    </div>
    <br>
    <div id="ImageLink">
      <a href="https://www.urbanoutfitters.com/en-ca/">
        <img src="/assets/uowebsite.jpg" alt="Urban Outfitters Webiste Home Page" style=height="65%" width="65%">
      </a>
    </div>
    <br>
    <br>
    <form margin="auto">
      <div class="q">
        1. What were your first impressions of this website's design?<br>
        <textarea name="impressions" rows="5", cols="100"></textarea><br>
      </div>
      <br>
      <div class="q">
        2. Which parts of the website design did you enjoy the most? Select up to 3 options.<br>
        <input type="checkbox" name="design" value="color">The color palette<br>
        <input type="checkbox" name="design" value="pictures">The pictures<br>
        <input type="checkbox" name="design" value="layout">The layout<br>
        <input type="checkbox" name="design" value="font">The text font<br>
      </div>
      <br>
      <div class="q">
      3. Evaluate the following statement: This website is easy to use:<br>
        <input type="radio" name="ease_of_use" value="Strongy_Disagree">Strongly Disagree
        <input type="radio" name="ease_of_use" value="Disagree">Disagree
        <input type="radio" name="ease_of_use" value="No_Opinion">No Opinion
        <input type="radio" name="ease_of_use" value="Agree">Agree
        <input type="radio" name="ease_of_use" value="Strongly_Agree">Strongly Agree <br>
      </div>
      <br>
      <div class="q">
        4. Would you recommend this website to a friend?<br>
        <input type="radio" name="recommend" value="Yes">Yes<br>
        <input type="radio" name="recommend" value="No">No<br>
        <input type="radio" name="recommend" value="Maybe">Maybe<br>
      </div>
      <br>
      <div class="q">
        5. Which browser are you using to access this website?<br>
        <select name="browser">
          <option value="Safari" seleted="selected">Safari</option>
          <option value="Chrome">Google Chrome</option>
          <option value="IE">Internet Explorer</option>
          <option value="Edge">Microsoft Edge</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <br>
      <div class="q">
        6. Please feel free to leave any comments below:<br>
        <textarea name="comments" rows="5", cols="100"></textarea><br>
      </div>
      <br>
      <br>
      <div class="q">
        <button type="submit" class="btn btn-success" id="bb">Submit my answers</button>
      </div>

    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html>
